body{
    background-color:rgb(70, 84, 130);
    margin: 50px;
}

.button{
    text-decoration: none;
    font-size: 25px;
    color: aqua;
    padding: 20px 50px;
    border: 3px solid aquamarine;
    position: relative;
}
.button::before,
.button::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s ease-in;
}
.button::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}
.button::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}
.button:hover::before,
.button:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

.button_2{
    text-decoration: none;
    font-size: 25px;
    color: aqua;
    padding: 20px 50px;
    border: 3px solid aquamarine;
    position: relative;
    margin-left: 50px;
}
.button_2::before,
.button_2::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s ease-in;
}
.button_2::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}
.button_2::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}
.button_2:hover::before,
.button_2:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}